@inherits AppAuthorizationBase

<AuthorizeView>
    <Authorized>
        <span class="mr-3">
            Hello, @context.User.Identity.Name!
        </span>
        <button type="button" class="btn btn-primary mr-1" @onclick="@LogoutPopup">
            Log out (popup)
        </button>
        <button type="button" class="btn btn-primary" @onclick="@LogoutRedirect">
            Log out (redirect)
        </button>
    </Authorized>
    <NotAuthorized>
        <button type="button" class="btn btn-primary mr-1" @onclick="@LoginPopup">
            Log in (popup)
        </button>
        <button type="button" class="btn btn-primary" @onclick="@LoginRedirect">
            Log in (redirect)
        </button> 
    </NotAuthorized>
</AuthorizeView>