@* <Router AppAssembly="@typeof(Program).Assembly"> *@
@*     <Found Context="routeData"> *@
@*         <AuthorizedRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/> *@
@*     </Found> *@
@*     <NotFound> *@
@*         <CascadingAuthenticationState> *@
@*             <LayoutView Layout="@typeof(MainLayout)"> *@
@*                 <p>Sorry, there's nothing at this address.</p> *@
@*             </LayoutView> *@
@*         </CascadingAuthenticationState> *@
@*     </NotFound> *@
@* </Router> *@

@* <Router AppAssembly="@typeof(Program).Assembly"> *@
@*     <Found Context="routeData"> *@
@*         <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" /> *@
@*     </Found> *@
@*     <NotFound> *@
@*         <LayoutView Layout="@typeof(MainLayout)"> *@
@*             <p>Sorry, there's nothing at this address.</p> *@
@*         </LayoutView> *@
@*     </NotFound> *@
@* </Router> *@

@using Microsoft.AspNetCore.Components.Authorization
@using Sotsera.Blazor.Oidc
@inject IUserManager UserManager

<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(IUserManager).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <p>This page requires authorization.</p>
            </NotAuthorized>
            <Authorizing>
                <h3>Authorizing...</h3>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>